<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>StudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>StaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/StaffServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>StudentServletJAVA</servlet-name>
        <servlet-class>StudentServletJAVA</servlet-class>
    </servlet>
    
    <context-param>
        <param-name>color</param-name>
        <param-value>Red</param-value>
    </context-param>
    
    <servlet-mapping>
        <servlet-name>StudentServletJAVA</servlet-name>
        <url-pattern>/StudentServletJAVA</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Staff
    </servlet>
</web-app>
